{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">{{ h1_heading }}</h1>
                <p>
                    {{ description }}
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="products.html">
                        {{ button_text_to_start_shopping }}
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>


{% endblock %}
